h1 {
    color:green;
    background: aqua;
}
.contenitore {
    text-align: center; /* Centra il contenuto orizzontalmente */
}

.contenitore img {
    display: inline-block; /* Imposta l'elemento come blocco inline per centrarlo */
}
h1 {
    font-size: 100px; /* Imposta la dimensione del font */
    text-align: center; /* Centra il testo orizzontalmente */
}
h2{
    color: green;
    background: aqua;

}
.testo-ingrandito {
    font-size: 30px; /* Puoi regolare il valore a tuo piacimento */
}
